.site-header .container nav ul {
  margin:0;
  padding:0;
  display:flex;
  flex-direction:row;
  justify-content:space-evenly;
  align-items:center;
  list-style:none;
}

.site-header .container nav ul li.navbar--link {
  padding:10px;
}
  
.site-header .container nav ul li.navbar--button button {
  background:var(--secondary);
  border:none;
  padding:10px 20px;
  margin-left:15px;
  color:#FFF;
  border-radius:8px;
}